@using ConestogaVirtualGameStore.Models.ViewModels
@model ForgotPasswordViewModel
@{
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>
<span class="text-white bg-success">@TempData["ResetSuccess"]</span>

<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-between">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <form method="POST">

                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn-primary">Reset Password</button>

                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>
            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
