@using ConestogaVirtualGameStore.Models.ViewModels
@model ForgotPasswordViewModel
@{
    Layout = "_LayoutWithoutHeader";
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>
<span class="text-white bg-success">@TempData["ResetSuccess"]</span>

<h1>Forgot Password</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="POST">

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn-primary">Reset Password</button>

</form>